doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 自己紹介

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 自己紹介
        h2 2014

      section
        h1 氏名
        h2 松崎 啓治

      section
        h1 どこに勤めてるのか
        h2 <a href="https://aiming-inc.com/">Aiming Inc.</a>

      section
        h1 勤め先で何をやっているのか
        h2 データ解析チームに所属

      section
        h1 データ解析チームで何をしているのか
        h2 今ん所データ解析基盤構築

      section
        h1 基盤構築に何を使っているのか
        ul
          li
          li <a href="http://www.ansible.com/home">ansible</a>
          li <a href="https://www.docker.io/">docker</a>
          li 愛
          li 腕力

      section
        h1 毎日のイテレーション
        ul
          li 
          li 10:00 出社
          li 12:00 昼メシ
          li 19:00 退社

      section
        h1 仕事で利用してるツール
        ul
          li 
          li <a href="https://github.com/">github</a>
          li <a href="http://www.pivotaltracker.com/">pivotal tracker</a>
          li <a href="https://trello.com/">trello</a>
          li <a href="https://idobata.io/">idobata</a>

      section
        h1 イテレーションは？
        h2 5日間で。
        ul
          li
          li 月曜日に何をするか
          li 金曜日に何をしたか
          li ベロシティの安定を目的に。。。
         
      section
        h1 最近心がけていること
        ul
          li 
          li 環境設計 (壊れてるとやる気でない)
          li 開発の流れをスムーズにする

      section
        h1 環境設計って何
        ul
          li
          li ほら、開発環境だよ
          li 開発環境、皆で揃ってないとマズった時めんどくさいだろう？
          li 少しずつ、長文だけど表に出していく

      section
        h1 開発の流れをスムーズにするって何
        ul
          li
          li まあ、厨二病のワクチン
          li まずい状況は経験するのもいいけど、歴史から学べ
          li 歴史からスムーズにまずそうな知見を学ばせる
          li 学ばせるのは高コストなんで、まあワクチン的な感じのことを...
          li 書いてて意味がわからなくなってきた

      section
        h1 最後に
        h2 腕力が重要

      section
        h1 おわり


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
